/*html {*/
  /*height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}*/

:root {
	height: 100%;
	background-color: #CCCC99;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
}

button {
    color: black;
    font-size: 14px;
    font: 14px/20px "helvetica neue",helvetica,arial,sans-serif;
}

/*app-root {
  height: 100%;
  overflow: hidden;
  padding: 1em;
  display: flex;
  flex-direction: column;
}*/