:root {
	background-color: #CCCC99;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
}

button {
    color: black;
    font-size: 14px;
    font: 14px/20px "helvetica neue",helvetica,arial,sans-serif;
}