<header>
	<title>Dashboard</title>
	<h3>This is my dashboard we will put an app overview here which should really go in the README but I make the rules here.</h3>
</header>
<section>
	<h4>Check-in:
		<p>This component needs to take in info for an item that is being donated to be listed for sale. Some general ideas for this would be; Item name, category, price,
			donated by, description, barcode, sold. On top of the items a customer brings in we might want to store out the customer object so we have the info down for each donor; Name, address,
 			email, phone number.
 		</p>
	</h4> 
</section>
<section>
	<h4>Checkout:
		<p> The goal here is to scan a bar code and retrive the related data associated with that tag. We will also want to total the prices here and collect payment. Need to
			implement a register system to take cc money.
 		</p>
	</h4> 
</section>
<section>
	<h4>Cash Out:
		<p> The last piece needed is to allow customers to return at the end of the day and collect their checks, and pick up unsold items. This might be helpful for the donor table
			where we can search by name to find them and see how much they sold. We also need to be able to cut them a check which we will create and print from the app.
 		</p>
	</h4> 
</section>