:host {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	> section {
		display: flex;
		flex-direction: column;

		.button-group {
			padding-top: 10px;
		}
	}

	> aside {

	}
}
table, th, td {
	border: 1px solid black;
}

table {
	text-align: center;
	background-color: #FFFFFF;
}

th {
	text-align: center;
}

td {
	text-align: center;
	padding: 5px
}

td button:hover {
	background-color:#ff9999;
}

td button:active {
	background-color: #ff9999;
	transform: translateY(4px);
}

td button {
	width: 100%;
}